// ### Primary

$SoftCyan: hsl(174, 77%, 80%); // (Full Slider Bar)
$StrongCyan: hsl(174, 86%, 45%); // (Slider Backround)
$StrongCyan2: hsl(174, 89%, 37%); // (Slider Backround active)
$StrongCyan3: hsl(174deg 72% 69%); // (Slider Backround hover)
$StrongCyan4: hsla(174, 100%, 73%, 0.6); // (Slider Box Shadow)
$LightGrayishRed: hsl(14, 92%, 95%); // (Discount Background)
$LightRed: hsl(15, 100%, 70%); // (Discount Text)
$PaleBlue: hsl(226, 100%, 87%); // (CTA Text)
// 0 12px 10px 5px rgb(165 243 235 / 60%)

// ### Neutral

$White: hsl(0, 0%, 100%); //  (Pricing Component Background)
$VeryPaleBlue: hsl(230, 100%, 99%); //  (Main Background)
$LightGrayishBlue1: hsl(224, 65%, 95%); //(Empty Slider Bar)
$LightGrayishBlue2: hsl(223, 50%, 87%); // (Toggle Background)
$GrayishBlue: hsl(225, 20%, 60%); // (Text)
$DarkDesaturatedBlue: hsl(227, 35%, 25%); // (Text & CTA Background)